doctype html
html
  head
    block scripts
    block style
  body
    nav#navbar
      #logo
        img(src='../static/logo.png', alt='onlinemeals.com')
      ul
        
        li.item.btn
          a(href='/') Home
        li.item.btn
          a(href='/services') Services
        li.item.btn
          a(href='/contact') Order and Contact
    block content
    