extends base.pug

block scripts
    script(src='../static/index.js')

block style
    style   
        include ../static/style.css
        include ../static/sstyle.css

block content
   section#catering
    h1 We provide catering service on special occasions too.
    h2.heading Events we cater:
    h2   1. Weddings 
    h2    2. Birthdays
    h2    3.Engagements
    h2    4. Picnic
        